@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 60.8125rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

@font-face {
  font-family: Gilroy-Bold;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy-Medium;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.header {
  min-height: 87px;
}

.header__menu {
  position: relative;
  padding: 0 0.9375rem;
}

.header .__container {
  border-bottom: 2px solid #828282;
  padding: 2rem 0rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  white-space: nowrap;
  font-family: "Gilroy-Bold";
  font-size: 1.125rem;
  line-height: 22px;
  color: #828282;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu__link:hover {
  color: #000;
  border-bottom: 1px solid;
  padding-bottom: 0.3125rem;
}

.menu .burger-home__leng {
  border: 2px solid;
  border-radius: 5px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  color: #828282;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu .burger-home__eng {
  padding: 0 0.375rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu .burger-home__eng:hover {
  color: #000;
}

.menu .burger-home__ua {
  border-right: 2px solid;
  padding: 0 0.375rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu .burger-home__ua:hover {
  color: #000;
  border-right: 2px solid #828282;
}

.icon-menu {
  display: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7.125rem 0rem 3.3125rem 0rem;
}

.footer__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 5.3125rem;
}

.footer__title {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 1.25rem;
}

.footer__text {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 1.875rem;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.8125rem;
}

.footer__copyraite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  text-align: center;
}

.social__img {
  margin-right: 61px;
}

.social__img:last-child {
  margin-right: 0;
}

.button {
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000;
  border-radius: 30px;
  padding: 0.375rem 1.875rem 0.375rem 1.875rem;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button:hover {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
}

.home__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.125rem;
}

.home__name {
  font-family: "Gilroy-Bold";
  font-size: 47.3392px;
  line-height: 59px;
  text-align: left;
}

.home__prof {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: left;
}

.home__leng {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Gilroy-Bold";
  font-size: 16px;
  line-height: 20px;
  color: #828282;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.home__eng {
  padding: 0 0.375rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.home__eng:hover {
  color: #000;
}

.home__ua {
  border-right: 2px solid;
  padding: 0 0.375rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.home__ua:hover {
  color: #000;
  border-right: 2px solid #828282;
}

.about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F6F6F6;
  padding: 7.8125rem 0rem 5.6875rem 0rem;
}

.about-me__title {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 2.0625rem;
}

.about-me__text {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.about-me__text p:not(:last-child) {
  margin-bottom: 3.125rem;
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem 0rem 6.875rem 0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skills__title {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 4.375rem;
}

.skills__text {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 5.1875rem;
}

.skills__programs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.program__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.program__item:not(:last-child) {
  margin-right: 5.625rem;
}

.program__image {
  margin-bottom: 1.5rem;
}

.program__sub-title {
  font-family: "Gilroy-Bold";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-bottom: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.star-4-1 {
  color: #E5E5E5;
}

.star-5 {
  color: #E5E5E5;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  padding: 7rem 0rem 0rem 0rem;
}

.portfolio__title {
  font-family: "Gilroy-Bold";
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 2.9375rem;
}

.portfolio__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio__photo img {
  margin-bottom: 2.875rem;
  width: 100%;
}

.sub-title {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-bottom: 6rem;
}

@media (min-width: 29.99875em) {
  .home__image {
    max-width: 100%;
    margin: 0rem 0rem 6.25rem 0rem;
    padding: 0rem 0rem 40% 0rem;
    position: relative;
  }

  .home__image .photo-2 {
    display: none;
  }

  .home__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 47.99875em) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
  }

  .menu .burger-home__leng {
    display: none;
  }

  body {
    padding: 8.125rem 0rem 0rem 0rem;
  }
}

@media (min-width: 62.6875em) {
  .menu__item {
    margin-right: 7.8125rem;
  }
}

@media (max-width: 20em) {
  .menu__item {
    margin-right: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .header .__container {
    border: none;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 1.625rem 1.625rem 0rem 1.625rem;
    overflow: auto;
    z-index: 3;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item {
    margin-bottom: 4.25rem;
  }

  .menu__link {
    font-size: 2.625rem;
    line-height: 42px;
  }

  .menu__link:hover {
    color: #000;
    border-bottom: none;
    padding-bottom: 0rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -70px;
  }

  .home__info {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .home__leng {
    display: none;
  }

  .skills__programs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .program__item:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 5rem;
  }
}

@media (max-width: 29.99875em) {
  .social__img {
    margin-right: 31px;
  }

  .home__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 2.25rem;
  }

  .home__name {
    margin-bottom: 1.4375rem;
  }

  .home__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .home__image .photo-1 {
    display: none;
  }
}

@media (min-width: 20em) and (max-width: 62.6875em) {
@supports (margin-right: clamp( 1.875rem , -0.9068448023rem  +  13.9092240117vw , 7.8125rem )) {
    .menu__item {
      margin-right: clamp( 1.875rem , -0.9068448023rem  +  13.9092240117vw , 7.8125rem );
    }
}

@supports not (margin-right: clamp( 1.875rem , -0.9068448023rem  +  13.9092240117vw , 7.8125rem )) {
    .menu__item {
      margin-right: calc(1.875rem + 5.9375 * (100vw - 20rem) / 42.6875);
    }
}
}